$brand-color: #1b548c;
$brand-color-hover: #194c7d;
$brand-color-90: rgba(27, 84, 140, 0.9);
$brand-color-80: rgba(27, 84, 140, 0.8);
$brand-color-70: rgba(27, 84, 140, 0.7);
$brand-color-60: rgba(27, 84, 140, 0.6);
$brand-color-50: rgba(27, 84, 140, 0.5);
$brand-color-40: rgba(27, 84, 140, 0.4);
$brand-color-30: rgba(27, 84, 140, 0.3);
$brand-color-20: rgba(27, 84, 140, 0.2);
$brand-color-10: rgba(27, 84, 140, 0.1);
$success-color: #008489;
$warning-color: #ffb822;
$danger-color: #8f0404;
$font-color: #67666e;
$font-color-dark: #1c1c1c;

$main-font: 'Roboto', Arial, sans-serif;
$titles-font: 'Titillium Web', Arial, sans-serif;


$medium-device: 860px;
$small-device: 540px;

