<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="actividades mostrada">
                <p class="control">
                    RESTANTES 
                    <span class="number m-l-small">2</span>
                </p>
                <h3><span class="ball">23</span>Refer to exhibit.</h3>
                <p>
                    <img style="max-width: 100%; width: 540px; padding: 1em; display: block; margin: 0 auto;" class="esquema" src="assets/figura23.png">
                </p>
                <p>Each of these four switches has been configured with a hostname, as well as being configured to run RSTP. No other configuration changes have been made. Which is the correct RSTP port roles for the indicated switches and interfaces?</p>
                <hr>
                <!-- <div class="warpper">
                    <input class="radio" id="one" name="group" type="radio" checked>
                    <div class="tabs">
                        <label class="tab" id="one-tab" for="one">Switch1#</label>
                    </div>
                    <div class="panels">
                        <div class="panel" id="one-panel">
                            <p>Enable secret 5 $qwe345dfg63</p>
                            <p>Enable password guess</p>
                            <p>Interface vlan1</p>
                            <p>&nbsp;&nbsp;Ip address 192.168.24.2 255.255.255.0</p>
                            <p>&nbsp;&nbsp;No ip route-cache</p>
                            <p>Ip http server</p>
                            <p>Line con 0</p>
                            <p>Line vty 0 4</p>
                            <p>&nbsp;&nbsp;Password cisco</p>
                            <p>&nbsp;&nbsp;Login</p>
                        </div>
                    </div>
                </div>  -->
                <hr>
                <div class="botonera">
                    <button class="outline" (click)="seeAnswer()">Comprobar solución</button>
                </div>
                <div *ngIf="showAnswer" style="font-size: 1em">
                    <p>Solution:</p>
                    <p>SwitchD ➡︎ Gi0/2 root</p>
                    <p>SwitchA ➡︎ Fa0/2 designated</p>
                    <p>SwitchD ➡︎ Fa0/1 root</p>
                </div>
            </div>
        </div>
    </div>
</div>